body {
    background-image: url("../images/background.png");
    background-size: 100vw 100vh;
}

.card {
    width: 10vw;
    position: absolute;
}

.my_cards {
    bottom: 5vh;
}

.host_cards {
    bottom: 50vh;
}

#host_1 {
    left: 30vw;
}

#host_2 {
    left: 45vw;
}

#host_3 {
    left: 60vw;
}

#card_1 {
    left: 35vw;
}

#card_2 {
    left: 55vw;
}