@font-face {
  font-family: Metropolis-Medium;
  src: url("font/Metropolis-Medium.otf"),
    url("font/Metropolis-Medium.otf") format("opentype");
}

@font-face {
  font-family: Metropolis-Bold;
  font-weight: bold;
  src: url("font/Metropolis-Bold.otf"),
    url("font/Metropolis-Bold.otf") format("opentype");
}

#mainContent {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

#gameDiv {
  margin-left: 10px;
  margin-right: 10px;
  min-height: 95vh;
}

html,
body,
.login-box {
  background: #2e64bc;
  height: 95%;
}

.card {
  margin-right: auto !important;
  margin-left: auto !important;
}

body {
  font-family: Metropolis-Medium;
}

code {
  font-size: 24px;
  background-color: #ebebeb;
}

.playingCard_black {
  float: left;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  height: 90px;
  width: 60px;
  color: black;
  padding: 5px;
  margin: 8px;
  font-size: 14px;
}

#usernamesMoney {
  font-size: 30px;
  min-height: 219px;
}

.playingCard_red {
  float: left;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  height: 90px;
  width: 60px;
  color: red;
  padding: 5px;
  margin: 8px;
  font-size: 14px;
}

.menuButtons {
  zoom: 0.8;
  margin: 2px;
}

.card-content {
  font-size: 16px;
}

.theirTurn {
  border: 5px solid yellow;
}

.playingCard_red_opponent {
  float: left;
  border: 3px solid black;
  background-color: white;
  border-radius: 5px;
  height: 84px;
  width: 60px;
  color: red;
  padding: 5px;
  margin: 4px;
  font-size: 18px;
}

.playingCard_black_opponent {
  float: left;
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  height: 84px;
  width: 60px;
  color: black;
  padding: 5px;
  margin: 4px;
  font-size: 18px;
}

.blankCard {
  float: left;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  border: 3px solid black;
  border-radius: 5px;
  height: 90px;
  width: 60px;
  padding: 10px;
  margin: 4px;
}

.selected {
  background: grey;
  border: 2px solid red;
}

#divStart {
  text-align: center;
}

.modal {
  position: absolute;
}

.toast {
  position: relative;
  z-index: -1 !important;
}


.grid-container {
  width: 50%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top:200px;
  z-index: 1000;
}

#poker-table {
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 461px;
  width: 745px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#communityCards {
  width: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

h5 {
  display: block;
  margin: 10px auto;
}

#buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
}

#button_info_container {
  width: 100%;
  margin-top: -120px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.custom-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  height: 170px;
  margin: 10px;
}

.custom-card-opponent {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  height: 230px;
}

#white-font {
  color: white;
}

.buttons-container {
  width: 320px;
}

#opponentCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 150px;
}

#opponentCard {
  width: 200px;
  margin: 10px;
}

.container {
  position: relative;
  top: -150px;
}

.footer-move {
  position: relative;
  top: 0;
}

#targetModal {
  position: absolute; 
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  width: 50vw;
  height: 50vh;
  margin: auto;
  display: none;
  background-color: white;
  border: black 1px solid;
}

#powerUpToolTip {
  display: none;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

}

#powerUpLogContainer {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c0d6e4;
}

#powerUpLog {
  width: 25vw;
  height: 20vh;
  overflow-y: scroll;
  scrollbar-color: #2e64bc, #2faabc;
}

#powerUpLogText {
  color: #2e64bc;
  font-size: medium;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}